<ion-header>
  <ion-toolbar>
    <ion-title>
      Timenvisioning
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>

    <ion-card-header>
        <ion-card-title class="ion-text-justify"><h1>{{previsao.name}}</h1>
          <ion-badge> <h2>14c°</h2> </ion-badge>
        </ion-card-title>
      <ion-card-subtitle>Paraná, Brasil</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <ion-item lines="full">
        <ion-label slot="start"><strong> Data: </strong> XX/XX/XX </ion-label>
        <ion-label> Min|Máx </ion-label>
        <ion-label>
          <div>
            Previsão:
            <ion-icon name="thunderstorm-outline"></ion-icon>
          </div>
        </ion-label>
      </ion-item>
    </ion-card-content>

  </ion-card>

</ion-content>
